body, html {
    font-family: 'Montserrat', sans-serif;
    background-color: #1c1f24;
    color: #f1f3f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0d1117, #141922, #0a0e14, #0d1117, #1a222e);
    animation: gradientAnimation 15s ease infinite;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    color: white;
    font-size: 1.8rem;
    border-bottom: 2px solid #8678f9;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

p, ul {
    color: #f1f3f5;
    margin-bottom: 1rem;
}

ul {
    padding-left: 1.5rem;
}

.certification-logos {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.certification-logos img {
    width: 20%;
    height: 20%;
    transition: transform 0.3s ease;
}

.certification-logos img:hover {
    transform: scale(1.1);
}

.lycee-image {
    width: 100%;
    max-width: 64%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(2, 243, 203, 0.2);
}

@media (max-width: 768px) {
    .page-container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .certification-logos {
        flex-direction: column;
        align-items: center;
    }

    .certification-logos img {
        margin-bottom: 1rem;
    }
}