body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #f1f3f5; /* Original text color */
  background-color: #1c1f24; /* Dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(255, 182, 193, 0.1); /* Light pastel pink */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin-top: 33px;
}

.container2 {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(173, 216, 230, 0.1); /* Light pastel blue */
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
  color: #7852e3; /* Darker pastel pink for consistency with HTML */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.mission-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mission-card, .mission-card2 {
  background-color: #1c1f24bb; /* Light pastel peach */
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: #900C3F; /* Darker pastel pink for consistency with HTML */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.mission-card {
  width: calc(25% - 20px);
}

.mission-card2 {
  width: 48%;
  margin: 1%;
}

.mission-card:hover, .mission-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 160, 122, 0.3); /* Light pastel orange shadow */
}

.mission-card h3, .mission-card2 h3 {
  padding: 1rem;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #7852e3; /* Softer pink for headings */
}

.mission-card img, .mission-card2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .mission-card {
      width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 992px) {
  .mission-card {
      width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .container, .container2 {
      width: 95%;
      padding: 1rem;
      margin: 1rem auto;
  }

  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.2rem;
  }

  .mission-card, .mission-card2 {
      width: calc(100% - 20px);
  }

  .mission-card h3, .mission-card2 h3 {
      font-size: 1rem;
  }

  .mission-card img, .mission-card2 img {
      height: 180px;
  }
}
