body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1f24; /* Dark background */
    color: #f1f3f5; /* Text color */
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

.img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: auto;
    justify-content: space-around;
}

.page-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 2.5rem;
}

.cv-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.cv-embed {
    width: 100%;
    height: 800px; 
    max-width: 800px; 
    border: none;
}

header {
    text-align: center;
    margin-bottom: 2.5rem;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    color: #f1f3f5;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid #8678f9; /* Pastel teal */
    padding-bottom: 0.7rem;
    margin-top: 2.5rem;
}

p {
    color: #c9c9c9; /* Light gray */
    margin-bottom: 1.2rem;
    text-align: justify;
}
