body {
	--color: rgba(30, 30, 30);
	--bgColor: rgba(245, 245, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
	margin: 0 20%;
	color:#18272F ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
	background: linear-gradient(306deg,#f25e95,#f26b83,#0a6aa6);
	background-size: 100% 100%;
	animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
}


.hash {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 10px);
  padding: 0px;
  aspect-ratio: 24 / 1;
  border: 0px;
  display: block;
  color: inherit;
  box-sizing: border-box;
  transition: color 0.2s, color 0.25s;
  color:#39FF14  ;
  width: 90%;
  margin-top: 0.6rem;
}
.header {
	/* your existing CSS */
	margin-top: 12rem;
}

.img {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	height: auto;
}
	a {
	color: inherit;
	text-decoration: none;
	transition: .25s ease;
}

p {
	text-align: justify;
	font-size: 1.2rem;
}

ul {
	text-align: justify;
	font-size: 1.2rem;
}
h2 {
  font-size: 30px;
  text-decoration: underline overline #39FF14  ;
}
#barrogothead {
  margin-left: auto;
  margin-right: auto;
	height: 5px;
	width: 90%;
	background-color: #39FF14  ;
	margin-top: 12rem;
}

#barrogotsmallhead {
	margin-left: auto;
	margin-right: auto;
	  height: 5px;
	  width: 90%;
	  background-color: #39FF14  ;
	  margin-top: 6rem;
  }

  .BOITEFLOU {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.1px);
	-webkit-backdrop-filter: blur(11.1px);
	padding: 38px;
	justify-content: center;
  }	

  .BOITEFLOU2 {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.1px);
	-webkit-backdrop-filter: blur(11.1px);
	padding: 38px;
	justify-content: center;
	margin-top: 6rem;
  }	

  #barro {
	margin-left: auto;
	margin-right: auto;
	  height: 5px;
	  width: 90%;
	  background-color:#39FF14 ;
	  margin-top: 0.2rem;
	  margin-bottom: 10px;
  }

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Tablo {
	display:flex;
	margin-top: 32px;
	margin-bottom: 32px;
	border-radius: 6px;
	padding: 8px 16px;
	box-shadow: 0 0 10px #39FF14, 0 0 20px rgba(57, 255, 20, 0.5);
}

.header {
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 4rem;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	z-index: 201;
	font-weight: 700;
}

.header h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 1rem 0 0 0;
	flex-grow: 1;
}

.header img {
	width: 150px;
	height: auto;
	margin-left: 1rem;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
}

.blurred-box {
	filter: blur(7px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: -1;
}

h1 {
	text-align: center;
  }
  